--find-links https://pypi.python.org/simple https://download.pytorch.org/whl/lts/1.8/torch_lts.html
malmo~=0.37.0.0
py-trees
numpy~=1.21.1
stable-baselines3[extra]==1.1.0
gym~=0.18.3
tensorboard
future
jsonpickle
# torch==1.8.2+cu111
# torchvision==0.9.2+cu111
# torchaudio===0.8.1
# pip3 install torch==1.8.2+cu111 torchvision==0.9.2+cu111 torchaudio===0.8.2 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html